<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <a href="/">
        <img src="{{ site.favicon }}" alt="" height="50">
      </a>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
          {%- for page in collections.page | reverse -%}
          <li>
            <a href="{{ page.url }}">{{ page.data.title }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </nav>
    </div>
  </div>
</header>

