---
title: 11ty Blog
layout: "base.njk"
---

{% if homepage.herovisible %}
<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">{{ hero.title | safe }}</h1>
      <p>
        {{ hero.text | safe }}
      </p>
      <div class="flex-group">
        <a href="{{ hero.buttonlink }}" target="_blank" aria-label="{{ hero.buttontext }}" class="btn btn--primary">{{
          hero.buttontext }}</a>
      </div>
    </div>
    <div>
      <img src="{{ hero.image }}" alt="" class="hero__image" style="max-width: 350px; margin: 0 auto;" />
    </div>
  </div>
</section>
{% endif %}


{% if homepage.articlesvisible %}
<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center">Featured articles</h2>
    <p class="text-center">
      Here is a sample of articles which I feel give you a good idea of what
      this site is all about.
    </p>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
      {% include "article-snippet.njk" %}
      {%- endfor -%}
    </ul>
  </div>
</section>
{% endif %}


{% if homepage.ourworkvisible %}
<section id="" class="">
  <div class="container flow">
    <h2 class="section-title text-center">Our work</h2>
    <p class="text-center">
      {{ ourwork.description }}
    </p>
    <div id="my-keen-slider" class="keen-slider">
      {% for carousel in ourwork.carousel %}
      <div class="keen-slider__slide">
        <a href="{{carousel.link}}">
          <img src="{{ carousel.image }}" alt="{{ carousel.imagealt }}">
          {{ carousel.title }}
        </a>
      </div>
      {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
    <script>
      var slider = new KeenSlider(
        "#my-keen-slider",
        {
          loop: true,
          breakpoints: {
            "(min-width: 400px)": {
              slides: { perView: 2, spacing: 5 },
            },
            "(min-width: 1000px)": {
              slides: { perView: 3, spacing: 10 },
            },
          },
          slides: { perView: 1 },
        },

        [
          (slider) => {
            let timeout
            let mouseOver = false
            function clearNextTimeout() {
              clearTimeout(timeout)
            }
            function nextTimeout() {
              clearTimeout(timeout)
              if (mouseOver) return
              timeout = setTimeout(() => {
                slider.next()
              }, 2000)
            }
            slider.on("created", () => {
              slider.container.addEventListener("mouseover", () => {
                mouseOver = true
                clearNextTimeout()
              })
              slider.container.addEventListener("mouseout", () => {
                mouseOver = false
                nextTimeout()
              })
              nextTimeout()
            })
            slider.on("dragStarted", clearNextTimeout)
            slider.on("animationEnded", nextTimeout)
            slider.on("updated", nextTimeout)
          },
        ]
      )
    </script>
  </div>
</section>
{% endif %}